
<div class="sidenav">
  <b>Tools (development):</b>
  <p> to create idle profiles :</p>
  <button style="width: 100px; height: 45px; margin-left:40px;" class="button button1" (click)="clickIdle()">train idle model</button>
  <p> to extract events from routine traffic :</p>
  <button style="width: 100px; height: 45px; margin-left:40px;" class="button button1" (click)="clickRoutine()">train routine model</button>
  <p> to train classifier on events :</p>
  <button style="width: 100px; height: 45px; margin-left:40px;" class="button button1" (click)="clickEvent()">train event model</button>
  <p></p>
</div>
